/* estilos.css */

/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #333;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #202891;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e2e2e2;
}

/* Estilos para Imágenes */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos del Footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}
